body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #111519 !important;
  transition: 0.2s ease-out;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #999;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #777;
}

.sidebar .nav-link.active {
  color: #fff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#sidenavbutton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 64px;
  border: none;
  border-top: 2px solid #222;
  text-decoration: none;
  text-align: right;
  background-color:transparent;
}

#sidenavbutton > svg{
    margin-right: 16px;
}

.sidebar.collapsed {
  width: 48px;
  transition: 0.2s ease-out;
}

.sidebar.opened {
  transition: 0.2s ease-out;
}

/*
    BottomNav
*/
#bottomnav{
  position:absolute;
  display:flex;
  flex-direction:column;
  bottom:0;
  left:0;
  right:0;
  font-size: 12px;
}

.bottomnav-item{
    display:flex;
    flex-direction:row;
}
/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.fs-7 {
  font-size: .9rem !important;
}

.big-screen {
  display: inline-block;
}

.small-screen {
  display: none;
}

.hidden{
    visibility:hidden;
}

#profileDropdown::after{
    display:none;
}

.nav-link > * {
  color: #999;
}

.nav-link.active > *{
    color: white;
}


@media screen and (max-width: 1080px) {
  .big-screen {
    display: none;
  }

  .small-screen {
    display: inline-block;
  }
}
