body {
  font-size: .875rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-group{
    margin:16px 0;
}

.fs-7 {
  font-size: .9rem !important;
}

.w-min {
  width: min-content;
}

.icon-button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon-button:hover {
  transform: scale(1.2);
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 

.big-screen {
  display: inline-block;
}

.small-screen {
  display: none;
}

.hidden{
    visibility:hidden;
}

@media screen and (max-width: 768px) {
  .big-screen {
    display: none;
  }

  .small-screen {
    display: inline-block;
  }

  body {
    font-size: .75rem;
  }

  button {
    font-size: .875rem !important;
  }

  h2 {
    font-size: 1.25rem;
  }

  svg {
    transform: scale(.8);
  }
}
