body {
  font-size: .875rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.fs-7 {
  font-size: .9rem !important;
}

.big-screen {
  display: inline-block;
}

.small-screen {
  display: none;
}

.hidden{
    visibility:hidden;
}

@media screen and (max-width: 768px) {
  .big-screen {
    display: none;
  }

  .small-screen {
    display: inline-block;
  }
}
