<div class="modal fade" [id]="modalId" tabindex="-1" [attr.aria-labelledby]="modalId + 'Label'" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="modalId + 'Label'">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
        <label class="form-label" for="deleteConfirm">Type "{{confirmationText}}" below to confirm</label>
        <input class="form-control" id="deleteConfirm" type="text" [(ngModel)]="userConfirmationText" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetConfirmation()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirm()" data-bs-dismiss="modal" [disabled]="isDeleteConfirmed()">Delete</button>
      </div>
    </div>
  </div>
</div>
