<form class="">
  <div class="form-group">
    <label for="organization-select">Organization</label>
    <select id="organization-select" class="form-control">
      <option>Large select</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2">Applications</label>
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Clickable outside
      </button>
      <div class="dropdown-menu flex-column">
        <input type="checkbox">One
        <input type="checkbox">Two

      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-light">Submit</button>
</form>
