@if(selectedUser !== null){
  @if(!modify){
<h2>{{selectedUser.name}}</h2>
<h3>{{selectedUser.email}}</h3>
<button (click)="onEdit(selectedUser)">Edit</button>

<button (click)="list()">Back</button>
  }
  @else{
<h2>{{ selectedUser?.name ? "Edit " + selectedUser.name : "Create New User" }}</h2>

<form class="">
  <div class="form-group">
    <label for="organization-select">Organization</label>
    <select id="organization-select" class="form-control">
      <option>Large select</option>
    </select>
  </div>

  <div class="form-group">
    <label for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" [value]="selectedUser.email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" [value]="selectedUser.name" class="form-control" id="nameInput" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2">Applications</label>
    <div class="btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Clickable outside
      </button>
      <div class="dropdown-menu flex-column">
        <input type="checkbox">One
        <input type="checkbox">Two
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-light">Submit</button>
  <button (click)="list()">Cancel</button>
</form>
  }
}
@else{
<div class="px-md-5 pt-md-2 p0">
  <h2>
    Users {{this.selectedUser}}
  </h2>
  <app-crud-table
    [items$]="users$"
    [fields]="fields"
    [onCreate]="onCreate"
    [onEdit]="onEdit"
    [onView]="onView"
    [onDelete]="onDelete"
    [onRefresh]="onRefresh"
    [getDisplayName]="getDisplayName"
  >
  </app-crud-table>
</div>
}
