
nav {
  background-color: #000C;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 0.8rem;
  }

  .btn,
  .nav-link,
  .form-control {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .navbar-toggler {
    padding: 0.25rem 0.5rem;
  }
}
