<header class="navbar navbar-dark bg-dark py-0 shadow d-flex align-items-center">
  <a class="navbar-brand d-none d-md-inline-block px-3"
     href="#">
    Chapi User Management
  </a>

  <input #searchInput
         class="form-control form-control-dark"
         type="text"
         placeholder="Search"
         aria-label="Search"
         (keyup.enter)="onSearchEnter(searchInput.value)"
         [value]="searchTerm"
         />

  <div class="nav-item dropdown px-2">
    <a class="nav-link dropdown-toggle d-flex align-items-center"
       href="#"
       id="profileDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
      <img *ngIf="profileImage; else defaultProfileSVG"
           [src]="profileImage"
           alt="Profile"
           width="32"
           height="32"
           class="rounded-circle me-2" />
      <ng-template #defaultProfileSVG>
        <svg xmlns="http://www.w3.org/2000/svg"
             width="32"
             height="32"
             fill="currentColor"
             class="bi bi-person-circle me-2"
             viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8
               m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226
               4.805 10 8 10s4.757 1.225 5.468 2.37
               A7 7 0 0 0 8 1" />
        </svg>
      </ng-template>
      <span class="d-none d-md-inline">{{ username }}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
        aria-labelledby="profileDropdown">
      <li>
        <a class="dropdown-item" [routerLink]="['/settings']">
          Settings
        </a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item" href="#" (click)="onSignOut()">
          Sign out
        </a>
      </li>
    </ul>
  </div>
</header>
